/* 5 color paletter from Mecca shirt */
.first-color {
    background: #3399ff;
}

.second-color {
    background: #ff3399;
}

.third-color {
    background: #ff9a3c;
}

.fourth-color {
    background: black;
}

.fifth-color {
    background: #ffffcc;
}

body {
    background-color: #ffffcc;
}

header {
    color: #3399ff;
    text-align: center;
}

header a:visited {
    color: #3399ff;
}

header h1 a {
    text-decoration: none;
}

section {
    padding: 1em;
}

section h2 {
    color: #ff3399;
    
}

.error {
    color: #ff5050;
}

.success {
    color: #33cc33;
}

.select {
    background: black;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    color: white;
}

.btn {
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    color: #ffffcc;
    font-size: 1rem;
}

.btn-primary {
    background: #3399ff;
    border-color: #3399ff;
    color: #ffffcc;
}

.btn-warning {
    background: #ff9a3c;
    border-color: #ff9a3c;
    color: black;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inline-block {
    display: inline-block;
}

.section {
    border:1px solid #ff5050;
    display: inline-block;
}
