body {
    background-color: #ffc93c;

}

header {
    color: #155263;
    text-align: center;
}

header h1 a {
    text-decoration: none;
}

section {
    padding: 1em;
}

section h2 {
    color: #155263;
}


.first-color {
    background: #155263;
}

.second-color {
    background: #ff6f3c;
}

.third-color {
    background: #ff9a3c;
}

.fourth-color {
    background: #ffc93c;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* reset css
