 table {
     border-collapse: collapse;
     margin-bottom: 20px;
 }

 th,
 td {
     border: 1px solid black;
     padding: 8px;
     text-align: left;
 }

 th {
     background-color: rgb(255, 255, 174);
     font-weight: 300;
 }

 table tr:nth-child(odd) {
     background-color: #ffadad;
 }

 table tr:nth-child(even) {
     background-color: #ffffff;
 }